{% extends 'base.html.twig' %}

{% block title %}Edit Faction{% endblock %}

{% block body %}
    <h1>Edit Faction</h1>

    {{ include('faction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('faction_index') }}">back to list</a>

    {{ include('faction/_delete_form.html.twig') }}
{% endblock %}
