<form method="post" action="{{ path('deck_delete', {'id': deck.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ deck.id) }}">
    <button class="btn">Delete</button>
</form>
