{% extends 'base.html.twig' %}

{% block title %}Edit Deck{% endblock %}

{% block body %}
    <h1>Edit Deck</h1>

    {{ include('deck/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deck_index') }}">back to list</a>

    {{ include('deck/_delete_form.html.twig') }}
{% endblock %}
