{% extends 'base.html.twig' %}

{% block title %}New Deck{% endblock %}

{% block body %}
    <h1>Create new Deck</h1>

    {{ include('deck/_form.html.twig') }}

    <a href="{{ path('deck_index') }}">back to list</a>
{% endblock %}
